/* The background of the page, which only has one centered element.
 */
body {
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* The div that represents the physical calculator.
 */
#calculator-box {
    width: 1500px;
    height: 1120px;
    background-color: lightcyan;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

#top-section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#top-section .button {
    height: 150px;
    width: 150px;
    margin-top: 70px;
}

/* The textbox where the calculations are displayed.
 * It's at the top of the calculator.
 */
#calculation-textbox {
    width: 90%;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
}

#buttons-section {
    display: flex;
    height: 800px;
    font-size: 50px;
}

#numbers-section {
    width: 60%;
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-right: 0px;

    background-color: green;
}

#operators-section {
    width: 40%;
    display: flex;
    padding: 20px;
    padding-right: 100px;
    padding-left: 60px;
    margin: 30px;
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: space-between;


    background-color: red;
}

.button {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: yellow;
    align-items: center;
    margin: 20px;
}

.column {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
